.wrapper {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden; 
    padding: 3rem 4rem;
}
.camadaContainer{
    position: absolute;
    top: 10px;
}

.ellipse2Container {
    position: absolute;
    bottom: 0;  
    left: 0;    
    width: 200px;
    height: auto;
}

.ellipse1Container {
    position: absolute;
    top: 0;     
    right: -50px;   
    width: 500px;
    height: auto;
}

